In [1]:
import pandas as pd
import seaborn as sns

## Number of deaths by risk factor

In [2]:
df_number_of_deaths_by_risk_factor = pd.read_csv('../data/Air-pollution/number-of-deaths-by-risk-factor.csv')
df_number_of_deaths_by_risk_factor

,Entity,Code,Year,Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: High systolic blood pressure - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Diet high in sodium - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Diet low in whole grains - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Alcohol use - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Diet low in fruits - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Unsafe water source - Sex: Both - Age: All Ages (Number),...,Deaths - Cause: All causes - Risk: High body-mass index - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Unsafe sanitation - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: No access to handwashing facility - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Drug use - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Low bone mineral density - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Vitamin A deficiency - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Child stunting - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Discontinued breastfeeding - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Non-exclusive breastfeeding - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Iron deficiency - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,1990,3169,25633,1045,7077,356,3185,3702,...,9518,2798,4825,174,389,2016,7686,107,2216,564
1,Afghanistan,AFG,1991,3222,25872,1055,7149,364,3248,4309,...,9489,3254,5127,188,389,2056,7886,121,2501,611
2,Afghanistan,AFG,1992,3395,26309,1075,7297,376,3351,5356,...,9528,4042,5889,211,393,2100,8568,150,3053,700
3,Afghanistan,AFG,1993,3623,26961,1103,7499,389,3480,7152,...,9611,5392,7007,232,411,2316,9875,204,3726,773
4,Afghanistan,AFG,1994,3788,27658,1134,7698,399,3610,7192,...,9675,5418,7421,247,413,2665,11031,204,3833,812
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,2835,11483,1063,1354,4854,1820,4336,...,5636,2879,4328,1068,407,138,730,21,734,282
6836,Zimbabwe,ZWE,2016,2781,11663,1082,1383,4915,1854,4244,...,5849,2798,4295,1042,415,101,674,20,700,275
6837,Zimbabwe,ZWE,2017,2700,11819,1098,1409,4992,1883,4193,...,6047,2744,4251,1007,424,82,629,19,678,267
6838,Zimbabwe,ZWE,2018,2669,12002,1117,1439,5044,1917,4013,...,6248,2608,4153,969,434,85,607,17,644,261
6839,Zimbabwe,ZWE,2019,2680,12241,1140,1475,5156,1960,3914,...,6475,2531,4113,963,438,81,585,16,631,259

In [3]:
df_number_of_deaths_by_risk_factor['Entity'].unique()

array(['Afghanistan', 'African Region (WHO)', 'Albania', 'Algeria',
       'American Samoa', 'Andorra', 'Angola', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Cape Verde', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', 'Democratic Republic of Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'East Asia & Pacific (WB)',
       'Eastern Mediterranean Region (WHO)', 'Ecuador', 'Egypt',
       'El Salvador', 'England', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Europe & Central Asia (WB)',
       'European Region (WHO)', 'Fiji', 'Finland', 'France', 'G20',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latin America & Caribbean (WB)', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Middle East & North Africa (WB)',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North America (WB)', 'North Korea', 'North Macedonia',
       'Northern Ireland', 'Northern Mariana Islands', 'Norway',
       'OECD Countries', 'Oman', 'Pakistan', 'Palau', 'Palestine',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Region of the Americas (WHO)', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Asia (WB)', 'South Korea', 'South Sudan',
       'South-East Asia Region (WHO)', 'Spain', 'Sri Lanka',
       'Sub-Saharan Africa (WB)', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Wales', 'Western Pacific Region (WHO)', 'World',
       'World Bank High Income', 'World Bank Low Income',
       'World Bank Lower Middle Income', 'World Bank Upper Middle Income',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [4]:
df_number_of_deaths_by_risk_factor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6840 entries, 0 to 6839
Data columns (total 31 columns):
 #   Column                                                                                                            Non-Null Count  Dtype
---  ------                                                                                                            --------------  -----
 0   Entity                                                                                                            6840 non-null   object
 1   Code                                                                                                              6150 non-null   object
 2   Year                                                                                                              6840 non-null   int64
 3   Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: All Ages (Number)              6840 non-null   int64
 4   Deaths - Cause: All causes - Risk: High systolic blood pressure - Sex: Both - Age: All Ages (Number)              6840 non-null   int64
 5   Deaths - Cause: All causes - Risk: Diet high in sodium - Sex: Both - Age: All Ages (Number)                       6840 non-null   int64
 6   Deaths - Cause: All causes - Risk: Diet low in whole grains - Sex: Both - Age: All Ages (Number)                  6840 non-null   int64
 7   Deaths - Cause: All causes - Risk: Alcohol use - Sex: Both - Age: All Ages (Number)                               6840 non-null   int64
 8   Deaths - Cause: All causes - Risk: Diet low in fruits - Sex: Both - Age: All Ages (Number)                        6840 non-null   int64
 9   Deaths - Cause: All causes - Risk: Unsafe water source - Sex: Both - Age: All Ages (Number)                       6840 non-null   int64
 10  Deaths - Cause: All causes - Risk: Secondhand smoke - Sex: Both - Age: All Ages (Number)                          6840 non-null   int64
 11  Deaths - Cause: All causes - Risk: Low birth weight - Sex: Both - Age: All Ages (Number)                          6840 non-null   int64
 12  Deaths - Cause: All causes - Risk: Child wasting - Sex: Both - Age: All Ages (Number)                             6840 non-null   int64
 13  Deaths - Cause: All causes - Risk: Unsafe sex - Sex: Both - Age: All Ages (Number)                                6840 non-null   int64
 14  Deaths - Cause: All causes - Risk: Diet low in nuts and seeds - Sex: Both - Age: All Ages (Number)                6840 non-null   int64
 15  Deaths - Cause: All causes - Risk: Household air pollution from solid fuels - Sex: Both - Age: All Ages (Number)  6840 non-null   int64
 16  Deaths - Cause: All causes - Risk: Diet low in vegetables - Sex: Both - Age: All Ages (Number)                    6840 non-null   int64
 17  Deaths - Cause: All causes - Risk: Low physical activity - Sex: Both - Age: All Ages (Number)                     6840 non-null   int64
 18  Deaths - Cause: All causes - Risk: Smoking - Sex: Both - Age: All Ages (Number)                                   6840 non-null   int64
 19  Deaths - Cause: All causes - Risk: High fasting plasma glucose - Sex: Both - Age: All Ages (Number)               6840 non-null   int64
 20  Deaths - Cause: All causes - Risk: Air pollution - Sex: Both - Age: All Ages (Number)                             6840 non-null   int64
 21  Deaths - Cause: All causes - Risk: High body-mass index - Sex: Both - Age: All Ages (Number)                      6840 non-null   int64
 22  Deaths - Cause: All causes - Risk: Unsafe sanitation - Sex: Both - Age: All Ages (Number)                         6840 non-null   int64
 23  Deaths - Cause: All causes - Risk: No access to handwashing facility - Sex: Both - Age: All Ages (Number)         6840 non-null   int64
 24  Deaths - Cause: All causes - Risk: Drug use - Sex: Both - Age: All Ages (Number)                                  6840 non-null   int64
 25  Deaths - Cause: All causes - Risk: Low bone mineral density - Sex: Both - Age: All Ages (Number)                  6840 non-null   int64
 26  Deaths - Cause: All causes - Risk: Vitamin A deficiency - Sex: Both - Age: All Ages (Number)                      6840 non-null   int64
 27  Deaths - Cause: All causes - Risk: Child stunting - Sex: Both - Age: All Ages (Number)                            6840 non-null   int64
 28  Deaths - Cause: All causes - Risk: Discontinued breastfeeding - Sex: Both - Age: All Ages (Number)                6840 non-null   int64
 29  Deaths - Cause: All causes - Risk: Non-exclusive breastfeeding - Sex: Both - Age: All Ages (Number)               6840 non-null   int64
 30  Deaths - Cause: All causes - Risk: Iron deficiency - Sex: Both - Age: All Ages (Number)                           6840 non-null   int64
dtypes: int64(29), object(2)
memory usage: 1.6+ MB

In [5]:
df_number_of_deaths_by_risk_factor.rename(columns={
    'Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: All Ages (Number)': 'Outdoor air pollution',
    'Deaths - Cause: All causes - Risk: High systolic blood pressure - Sex: Both - Age: All Ages (Number)': 'High systolic blood pressure',
    'Deaths - Cause: All causes - Risk: Diet high in sodium - Sex: Both - Age: All Ages (Number)': 'Diet high in sodium',
    'Deaths - Cause: All causes - Risk: Diet low in whole grains - Sex: Both - Age: All Ages (Number)': 'Diet low in whole grains',
    'Deaths - Cause: All causes - Risk: Alcohol use - Sex: Both - Age: All Ages (Number)': 'Alcohol use',
    'Deaths - Cause: All causes - Risk: Diet low in fruits - Sex: Both - Age: All Ages (Number)': 'Diet low in fruits',
    'Deaths - Cause: All causes - Risk: Unsafe water source - Sex: Both - Age: All Ages (Number)': 'Unsafe water source',
    'Deaths - Cause: All causes - Risk: Secondhand smoke - Sex: Both - Age: All Ages (Number)': 'Secondhand smoke',
    'Deaths - Cause: All causes - Risk: Low birth weight - Sex: Both - Age: All Ages (Number)': 'Low birth weight',
    'Deaths - Cause: All causes - Risk: Child wasting - Sex: Both - Age: All Ages (Number)': 'Child wasting',
    'Deaths - Cause: All causes - Risk: Unsafe sex - Sex: Both - Age: All Ages (Number)': 'Unsafe sex',
    'Deaths - Cause: All causes - Risk: Diet low in nuts and seeds - Sex: Both - Age: All Ages (Number)': 'Diet low in nuts and seeds',
    'Deaths - Cause: All causes - Risk: Household air pollution from solid fuels - Sex: Both - Age: All Ages (Number)': 'Household air pollution from solid fuels',
    'Deaths - Cause: All causes - Risk: Diet low in vegetables - Sex: Both - Age: All Ages (Number)': 'Diet low in vegetables',
    'Deaths - Cause: All causes - Risk: Low physical activity - Sex: Both - Age: All Ages (Number)': 'Low physical activity',
    'Deaths - Cause: All causes - Risk: Smoking - Sex: Both - Age: All Ages (Number)': 'Smoking',
    'Deaths - Cause: All causes - Risk: High fasting plasma glucose - Sex: Both - Age: All Ages (Number)': 'High fasting plasma glucose',
    'Deaths - Cause: All causes - Risk: Air pollution - Sex: Both - Age: All Ages (Number)': 'Air pollution',
    'Deaths - Cause: All causes - Risk: High body-mass index - Sex: Both - Age: All Ages (Number)': 'High body-mass index',
    'Deaths - Cause: All causes - Risk: Unsafe sanitation - Sex: Both - Age: All Ages (Number)': 'Unsafe sanitation',
    'Deaths - Cause: All causes - Risk: No access to handwashing facility - Sex: Both - Age: All Ages (Number)': 'No access to handwashing facility',
    'Deaths - Cause: All causes - Risk: Drug use - Sex: Both - Age: All Ages (Number)': 'Drug use',
    'Deaths - Cause: All causes - Risk: Low bone mineral density - Sex: Both - Age: All Ages (Number)': 'Low bone mineral density',
    'Deaths - Cause: All causes - Risk: Vitamin A deficiency - Sex: Both - Age: All Ages (Number)': 'Vitamin A deficiency',
    'Deaths - Cause: All causes - Risk: Child stunting - Sex: Both - Age: All Ages (Number)': 'Child stunting',
    'Deaths - Cause: All causes - Risk: Discontinued breastfeeding - Sex: Both - Age: All Ages (Number)': 'Discontinued breastfeeding',
    'Deaths - Cause: All causes - Risk: Non-exclusive breastfeeding - Sex: Both - Age: All Ages (Number)': 'Non-exclusive breastfeeding',
    'Deaths - Cause: All causes - Risk: Iron deficiency - Sex: Both - Age: All Ages (Number)': 'Iron deficiency',
}, inplace=True)

In [6]:
del df_number_of_deaths_by_risk_factor['Code']

In [7]:
df_number_of_deaths_by_risk_factor

,Entity,Year,Outdoor air pollution,High systolic blood pressure,Diet high in sodium,Diet low in whole grains,Alcohol use,Diet low in fruits,Unsafe water source,Secondhand smoke,...,High body-mass index,Unsafe sanitation,No access to handwashing facility,Drug use,Low bone mineral density,Vitamin A deficiency,Child stunting,Discontinued breastfeeding,Non-exclusive breastfeeding,Iron deficiency
0,Afghanistan,1990,3169,25633,1045,7077,356,3185,3702,4794,...,9518,2798,4825,174,389,2016,7686,107,2216,564
1,Afghanistan,1991,3222,25872,1055,7149,364,3248,4309,4921,...,9489,3254,5127,188,389,2056,7886,121,2501,611
2,Afghanistan,1992,3395,26309,1075,7297,376,3351,5356,5279,...,9528,4042,5889,211,393,2100,8568,150,3053,700
3,Afghanistan,1993,3623,26961,1103,7499,389,3480,7152,5734,...,9611,5392,7007,232,411,2316,9875,204,3726,773
4,Afghanistan,1994,3788,27658,1134,7698,399,3610,7192,6050,...,9675,5418,7421,247,413,2665,11031,204,3833,812
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,2015,2835,11483,1063,1354,4854,1820,4336,1614,...,5636,2879,4328,1068,407,138,730,21,734,282
6836,Zimbabwe,2016,2781,11663,1082,1383,4915,1854,4244,1625,...,5849,2798,4295,1042,415,101,674,20,700,275
6837,Zimbabwe,2017,2700,11819,1098,1409,4992,1883,4193,1625,...,6047,2744,4251,1007,424,82,629,19,678,267
6838,Zimbabwe,2018,2669,12002,1117,1439,5044,1917,4013,1628,...,6248,2608,4153,969,434,85,607,17,644,261
6839,Zimbabwe,2019,2680,12241,1140,1475,5156,1960,3914,1646,...,6475,2531,4113,963,438,81,585,16,631,259

In [8]:
df_number_of_deaths_by_risk_factor.drop(columns=[
    'Low physical activity',
    'Non-exclusive breastfeeding',
    'Child wasting',
    'High systolic blood pressure',
    'High fasting plasma glucose',
    'Child stunting',
    'High body-mass index',
    'Secondhand smoke',
    'Diet low in fruits',
    'Diet high in sodium',
    'Drug use',
    'Household air pollution from solid fuels',
    'Low bone mineral density',
    'Smoking',
    'Vitamin A deficiency',
    'Unsafe sanitation',
    'Unsafe water source',
    'Diet low in vegetables',
    'Low birth weight',
    'Diet low in nuts and seeds',
    'Diet low in whole grains',
    'Alcohol use',
    'No access to handwashing facility',
    'Discontinued breastfeeding',
    'Iron deficiency',
    'Unsafe sex',
    'Outdoor air pollution'
], inplace=True)

In [9]:
df_number_of_deaths_by_risk_factor

           Entity  Year  Air pollution
0     Afghanistan  1990          37231
1     Afghanistan  1991          38315
2     Afghanistan  1992          41172
3     Afghanistan  1993          44488
4     Afghanistan  1994          46634
...           ...   ...            ...
6835     Zimbabwe  2015          13246
6836     Zimbabwe  2016          13131
6837     Zimbabwe  2017          12926
6838     Zimbabwe  2018          12745
6839     Zimbabwe  2019          12667

[6840 rows x 3 columns]

In [10]:
def dub():
  cont_L = 0
  value = 0
  dict_ = {}

  for i in range(6840):
    dict_[i] = value
    cont_L += 1

    if cont_L == 30:
      value += 1
      cont_L = 0
  
  return dict_

In [11]:
dub = pd.Series(dub())

In [12]:
df_number_of_deaths_by_risk_factor.insert(0, 'Entity code', dub)

In [13]:
df_number_of_deaths_by_risk_factor

      Entity code       Entity  Year  Air pollution
0               0  Afghanistan  1990          37231
1               0  Afghanistan  1991          38315
2               0  Afghanistan  1992          41172
3               0  Afghanistan  1993          44488
4               0  Afghanistan  1994          46634
...           ...          ...   ...            ...
6835          227     Zimbabwe  2015          13246
6836          227     Zimbabwe  2016          13131
6837          227     Zimbabwe  2017          12926
6838          227     Zimbabwe  2018          12745
6839          227     Zimbabwe  2019          12667

[6840 rows x 4 columns]

In [14]:
df_number_of_deaths_by_risk_factor['Air pollution'] = df_number_of_deaths_by_risk_factor.iloc[:, 2]
pol_con = df_number_of_deaths_by_risk_factor.set_index(['Entity'])

countrys = list(df_number_of_deaths_by_risk_factor['Entity'].unique())

In [15]:
a = []

for i in countrys:
    
    m = pol_con.loc[i, ['Year', 'Air pollution']]
    
    a.append([i, m.loc[m['Year'] == 2019]['Air pollution'] - m.loc[m['Year'] == 1990]['Air pollution']])


data1 = {'Entity' : [],
         'Absolute change of deaths by air pollution (1990-2019)' : []}


for i in range(len(a)):
    
    data1['Entity'].append(a[i][0])
    data1['Absolute change of deaths by air pollution (1990-2019)'].append(a[i][1][0])
    
    
df1 = pd.DataFrame.from_dict(data1)
df1 = df1.set_index(['Entity'])

print(df1)

                                Absolute change of deaths by air pollution (1990-2019)
Entity
Afghanistan                                                                    29
African Region (WHO)                                                           29
Albania                                                                        29
Algeria                                                                        29
American Samoa                                                                 29
...                                                                           ...
World Bank Lower Middle Income                                                 29
World Bank Upper Middle Income                                                 29
Yemen                                                                          29
Zambia                                                                         29
Zimbabwe                                                                       29

[228 rows x 1 columns]

In [16]:
r = []

for i in countrys:
    
    m = pol_con.loc[i, ['Year', 'Air pollution']]
    
    r.append([i, ((m.loc[m['Year'] == 2019]['Air pollution'] - m.loc[m['Year'] == 1990]['Air pollution']) / m.loc[m['Year'] == 1990]['Air pollution']) * 100])


data2 = {'Entity' : [],
         'Relative change of deaths by air pollution (1990-2019)' : []}


for i in range(len(r)):
    
    data2['Entity'].append(r[i][0])
    data2['Relative change of deaths by air pollution (1990-2019)'].append(r[i][1][0])
    
    
df2 = pd.DataFrame.from_dict(data2)
df2 = df2.set_index(['Entity'])

print(df2)

                                Relative change of deaths by air pollution (1990-2019)
Entity
Afghanistan                                                              1.457286
African Region (WHO)                                                     1.457286
Albania                                                                  1.457286
Algeria                                                                  1.457286
American Samoa                                                           1.457286
...                                                                           ...
World Bank Lower Middle Income                                           1.457286
World Bank Upper Middle Income                                           1.457286
Yemen                                                                    1.457286
Zambia                                                                   1.457286
Zimbabwe                                                                 1.457286

[228 rows x 1 columns]

MudanÃ§a absoluta refere-se Ã  simples diferenÃ§a no indicador em dois perÃ­odos no tempo, ou seja,

        absolute change = value of indicator in period 2 - value of indicator in period 1

MudanÃ§a relativa expressa a mudanÃ§a absoluta como uma porcentagem do valor do indicador no perÃ­odo anterior, ou seja,

                                relative change = ((p2 - p1) / p1) * 100

In [17]:
df_ = pd.merge(df1, df2, on='Entity')
df_

,Absolute change of deaths by air pollution (1990-2019),Relative change of deaths by air pollution (1990-2019)
Entity,,
Afghanistan,29,1.457286
African Region (WHO),29,1.457286
Albania,29,1.457286
Algeria,29,1.457286
American Samoa,29,1.457286
...,...,...
World Bank Lower Middle Income,29,1.457286
World Bank Upper Middle Income,29,1.457286
Yemen,29,1.457286
Zambia,29,1.457286
Zimbabwe,29,1.457286

In [18]:
df_1990 = df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Year'] == 1990]
df_2019 = df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Year'] == 2019]

df_1990_2019 = pd.merge(df_1990, df_2019, on='Entity')

In [19]:
del df_1990_2019['Year_x']
del df_1990_2019['Year_y']

In [20]:
df_1990_2019

,Entity code_x,Entity,Air pollution_x,Entity code_y,Air pollution_y
0,0,Afghanistan,1990,0,2019
1,1,African Region (WHO),1990,1,2019
2,2,Albania,1990,2,2019
3,3,Algeria,1990,3,2019
4,4,American Samoa,1990,4,2019
...,...,...,...,...,...
223,223,World Bank Lower Middle Income,1990,223,2019
224,224,World Bank Upper Middle Income,1990,224,2019
225,225,Yemen,1990,225,2019
226,226,Zambia,1990,226,2019
227,227,Zimbabwe,1990,227,2019

In [21]:
df = pd.merge(df_1990_2019, df_, on='Entity')
df.rename(columns={
    'Air pollution_x' : '1990',
    'Air pollution_y' : '2019',
}, inplace=True)

In [22]:
df

,Entity code_x,Entity,1990,Entity code_y,2019,Absolute change of deaths by air pollution (1990-2019),Relative change of deaths by air pollution (1990-2019)
0,0,Afghanistan,1990,0,2019,29,1.457286
1,1,African Region (WHO),1990,1,2019,29,1.457286
2,2,Albania,1990,2,2019,29,1.457286
3,3,Algeria,1990,3,2019,29,1.457286
4,4,American Samoa,1990,4,2019,29,1.457286
...,...,...,...,...,...,...,...
223,223,World Bank Lower Middle Income,1990,223,2019,29,1.457286
224,224,World Bank Upper Middle Income,1990,224,2019,29,1.457286
225,225,Yemen,1990,225,2019,29,1.457286
226,226,Zambia,1990,226,2019,29,1.457286
227,227,Zimbabwe,1990,227,2019,29,1.457286

----------------------------------------------------------------------------------------------------------------------

In [23]:
# ----------------------------------------- Graphs ----------------------------------------- #

In [24]:
%pip install -q ipywidgets matplotlib networkx

Note: you may need to restart the kernel to use updated packages.

In [25]:
from ipywidgets import interact

In [26]:
%matplotlib inline
import matplotlib.pyplot as plt

In [27]:
def afghanistan():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Afghanistan'].set_index(['Year'])

def albania():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Albania'].set_index(['Year'])

def algeria():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Algeria'].set_index(['Year'])

def andorra():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Andorra'].set_index(['Year'])

def angola():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Angola'].set_index(['Year'])

def antigua_and_barbuda():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Antigua and Barbuda'].set_index(['Year'])

def argentina():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Argentina'].set_index(['Year'])

def armenia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Armenia'].set_index(['Year'])

def australia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Australia'].set_index(['Year'])

def austria():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Austria'].set_index(['Year'])

def azerbaijan():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Azerbaijan'].set_index(['Year'])

def bahamas():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Bahamas'].set_index(['Year'])

def bahrain():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Bahrain'].set_index(['Year'])

def bangladesh():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Bangladesh'].set_index(['Year'])

def barbados():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Barbados'].set_index(['Year'])

def belarus():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Belarus'].set_index(['Year'])

def belgium():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Belgium'].set_index(['Year'])

def belize():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Belize'].set_index(['Year'])

def benin():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Benin'].set_index(['Year'])

def bhutan():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Bhutan'].set_index(['Year'])

def bolivia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Bolivia'].set_index(['Year'])

def bosnia_and_herzegovina():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Bosnia and Herzegovina'].set_index(['Year'])

def botswana():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Botswana'].set_index(['Year'])

def brazil():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Brazil'].set_index(['Year'])

def brunei():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Brunei'].set_index(['Year'])

def bulgaria():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Bulgaria'].set_index(['Year'])

def burkina_faso():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Burkina Faso'].set_index(['Year'])

def burundi():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Burundi'].set_index(['Year'])

def cambodia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Cambodia'].set_index(['Year'])

def cameroon():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Cameroon'].set_index(['Year'])

def canada():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Canada'].set_index(['Year'])

def cape_verde():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Cape Verde'].set_index(['Year'])

def central_african_republic():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Central African Republic'].set_index(['Year'])

def chad():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Chad'].set_index(['Year'])

def chile():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Chile'].set_index(['Year'])

def china():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'China'].set_index(['Year'])

def colombia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Colombia'].set_index(['Year'])

def comoros():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Comoros'].set_index(['Year'])

def congo():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Congo'].set_index(['Year'])

def costa_rica():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Costa Rica'].set_index(['Year'])

def cote_divoire():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Cote dIvoire'].set_index(['Year'])

def croatia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Croatia'].set_index(['Year'])

def cuba():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Cuba'].set_index(['Year'])

def cyprus():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Cyprus'].set_index(['Year'])

def czech_republic():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Czech Republic'].set_index(['Year'])

def democratic_republic_of_the_congo():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Democratic Republic of the Congo'].set_index(['Year'])

def denmark():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Denmark'].set_index(['Year'])

def djibouti():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Djibouti'].set_index(['Year'])

def dominica():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Dominica'].set_index(['Year'])

def dominican_republic():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Dominican Republic'].set_index(['Year'])

def ecuador():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Ecuador'].set_index(['Year'])

def egypt():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Egypt'].set_index(['Year'])

def el_salvador():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'El Salvador'].set_index(['Year'])

def equatorial_guinea():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Equatorial Guinea'].set_index(['Year'])

def eritrea():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Eritrea'].set_index(['Year'])

def estonia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Estonia'].set_index(['Year'])

def ethiopia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Ethiopia'].set_index(['Year'])

def fiji():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Fiji'].set_index(['Year'])

def finland():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Finland'].set_index(['Year'])

def france():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'France'].set_index(['Year'])

def gabon():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Gabon'].set_index(['Year'])

def gambia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Gambia'].set_index(['Year'])

def georgia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Georgia'].set_index(['Year'])

def germany():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Germany'].set_index(['Year'])

def ghana():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Ghana'].set_index(['Year'])

def greece():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Greece'].set_index(['Year'])

def grenada():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Grenada'].set_index(['Year'])

def guatemala():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Guatemala'].set_index(['Year'])

def guinea():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Guinea'].set_index(['Year'])

def guinea_bissau():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Guinea-Bissau'].set_index(['Year'])

def guyana():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Guyana'].set_index(['Year'])

def haiti():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Haiti'].set_index(['Year'])

def honduras():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Honduras'].set_index(['Year'])

def hungary():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Hungary'].set_index(['Year'])

def iceland():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Iceland'].set_index(['Year'])

def india():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'India'].set_index(['Year'])

def indonesia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Indonesia'].set_index(['Year'])

def iran():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Iran'].set_index(['Year'])

def iraq():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Iraq'].set_index(['Year'])

def ireland():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Ireland'].set_index(['Year'])

def israel():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Israel'].set_index(['Year'])

def italy():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Italy'].set_index(['Year'])

def jamaica():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Jamaica'].set_index(['Year'])

def japan():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Japan'].set_index(['Year'])

def jordan():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Jordan'].set_index(['Year'])

def kazakhstan():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Kazakhstan'].set_index(['Year'])

def kenya():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Kenya'].set_index(['Year'])

def kiribati():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Kiribati'].set_index(['Year'])

def kuwait():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Kuwait'].set_index(['Year'])

def kyrgyzstan():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Kyrgyzstan'].set_index(['Year'])

def laos():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Laos'].set_index(['Year'])

def latvia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Latvia'].set_index(['Year'])

def lebanon():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Lebanon'].set_index(['Year'])

def lesotho():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Lesotho'].set_index(['Year'])

def liberia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Liberia'].set_index(['Year'])

def libya():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Libya'].set_index(['Year'])

def liechtenstein():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Liechtenstein'].set_index(['Year'])

def lithuania():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Lithuania'].set_index(['Year'])

def luxembourg():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Luxembourg'].set_index(['Year'])

def macedonia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Macedonia'].set_index(['Year'])

def madagascar():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Madagascar'].set_index(['Year'])

def malawi():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Malawi'].set_index(['Year'])

def malaysia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Malaysia'].set_index(['Year'])

def maldives():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Maldives'].set_index(['Year'])

def mali():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Mali'].set_index(['Year'])

def malta():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Malta'].set_index(['Year'])

def mauritania():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Mauritania'].set_index(['Year'])

def mauritius():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Mauritius'].set_index(['Year'])

def mexico():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Mexico'].set_index(['Year'])

def micronesia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Micronesia'].set_index(['Year'])

def moldova():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Moldova'].set_index(['Year'])

def monaco():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Monaco'].set_index(['Year'])

def mongolia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Mongolia'].set_index(['Year'])

def montenegro():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Montenegro'].set_index(['Year'])

def morocco():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Morocco'].set_index(['Year'])

def mozambique():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Mozambique'].set_index(['Year'])

def myanmar():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Myanmar'].set_index(['Year'])

def namibia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Namibia'].set_index(['Year'])

def nauru():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Nauru'].set_index(['Year'])

def nepal():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Nepal'].set_index(['Year'])

def netherlands():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Netherlands'].set_index(['Year'])

def new_zealand():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'New Zealand'].set_index(['Year'])

def nicaragua():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Nicaragua'].set_index(['Year'])

def niger():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Niger'].set_index(['Year'])

def nigeria():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Nigeria'].set_index(['Year'])

def north_korea():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'North Korea'].set_index(['Year'])

def norway():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Norway'].set_index(['Year'])

def oman():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Oman'].set_index(['Year'])

def pakistan():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Pakistan'].set_index(['Year'])

def palau():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Palau'].set_index(['Year'])

def palestine():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Palestine'].set_index(['Year'])

def panama():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Panama'].set_index(['Year'])

def papua_new_guinea():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Papua New Guinea'].set_index(['Year'])

def paraguay():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Paraguay'].set_index(['Year'])

def peru():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Peru'].set_index(['Year'])

def philippines():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Philippines'].set_index(['Year'])

def poland():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Poland'].set_index(['Year'])

def portugal():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Portugal'].set_index(['Year'])

def qatar():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Qatar'].set_index(['Year'])

def romania():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Romania'].set_index(['Year'])

def russia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Russia'].set_index(['Year'])

def rwanda():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Rwanda'].set_index(['Year'])

def saint_kitts_and_nevis():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Saint Kitts and Nevis'].set_index(['Year'])

def saint_lucia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Saint Lucia'].set_index(['Year'])

def saint_vincent_and_the_grenadines():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Saint Vincent and the Grenadines'].set_index(['Year'])

def samoa():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Samoa'].set_index(['Year'])

def san_marino():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'San Marino'].set_index(['Year'])

def sao_tome_and_principe():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Sao Tome and Principe'].set_index(['Year'])

def saudi_arabia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Saudi Arabia'].set_index(['Year'])

def senegal():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Senegal'].set_index(['Year'])

def serbia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Serbia'].set_index(['Year'])

def seychelles():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Seychelles'].set_index(['Year'])

def sierra_leone():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Sierra Leone'].set_index(['Year'])

def singapore():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Singapore'].set_index(['Year'])

def slovakia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Slovakia'].set_index(['Year'])

def slovenia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Slovenia'].set_index(['Year'])

def solomon_islands():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Solomon Islands'].set_index(['Year'])

def somalia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Somalia'].set_index(['Year'])

def south_africa():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'South Africa'].set_index(['Year'])

def south_korea():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'South Korea'].set_index(['Year'])

def south_sudan():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'South Sudan'].set_index(['Year'])

def spain():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Spain'].set_index(['Year'])

def sri_lanka():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Sri Lanka'].set_index(['Year'])

def sudan():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Sudan'].set_index(['Year'])

def suriname():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Suriname'].set_index(['Year'])

def swaziland():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Swaziland'].set_index(['Year'])

def sweden():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Sweden'].set_index(['Year'])

def switzerland():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Switzerland'].set_index(['Year'])

def syria():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Syria'].set_index(['Year'])

def taiwan():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Taiwan'].set_index(['Year'])

def tajikistan():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Tajikistan'].set_index(['Year'])

def tanzania():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Tanzania'].set_index(['Year'])

def thailand():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Thailand'].set_index(['Year'])

def timor_leste():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Timor-Leste'].set_index(['Year'])

def togo():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Togo'].set_index(['Year'])

def tonga():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Tonga'].set_index(['Year'])

def trinidad_and_tobago():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Trinidad and Tobago'].set_index(['Year'])

def tunisia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Tunisia'].set_index(['Year'])

def turkey():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Turkey'].set_index(['Year'])

def turkmenistan():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Turkmenistan'].set_index(['Year'])

def tuvalu():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Tuvalu'].set_index(['Year'])

def uganda():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Uganda'].set_index(['Year'])

def ukraine():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Ukraine'].set_index(['Year'])

def united_arab_emirates():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'United Arab Emirates'].set_index(['Year'])

def united_kingdom():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'United Kingdom'].set_index(['Year'])

def united_states():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'United States'].set_index(['Year'])

def uruguay():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Uruguay'].set_index(['Year'])

def uzbekistan():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Uzbekistan'].set_index(['Year'])

def vanuatu():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Vanuatu'].set_index(['Year'])

def venezuela():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Venezuela'].set_index(['Year'])

def vietnam():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Vietnam'].set_index(['Year'])

def yemen():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Yemen'].set_index

def zambia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Zambia'].set_index(['Year'])

def zimbabwe():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Zimbabwe'].set_index(['Year'])

def plot_graph(generator):
    g = generator()
    g.plot(ylabel = 'Air pollution (Deaths numbers)', figsize = (20,10))
    plt.show()

In [28]:
interact(plot_graph,
         generator=[
             ('Afghanistan', afghanistan),
             ('Albania', albania),
             ('Algeria', algeria),
             ('Andorra', andorra),
             ('Angola', angola),
             ('Antigua and Barbuda', antigua_and_barbuda),
             ('Argentina', argentina),
             ('Armenia', armenia),
             ('Australia', australia),
             ('Austria', austria),
             ('Azerbaijan', azerbaijan),
             ('Bahamas', bahamas),
             ('Bahrain', bahrain),
             ('Bangladesh', bangladesh),
             ('Barbados', barbados),
             ('Belarus', belarus),
             ('Belgium', belgium),
             ('Belize', belize),
             ('Benin', benin),
             ('Bhutan', bhutan),
             ('Bolivia', bolivia),
             ('Bosnia and Herzegovina', bosnia_and_herzegovina),
             ('Botswana', botswana),
             ('Brazil', brazil),
             ('Brunei', brunei),
             ('Bulgaria', bulgaria),
             ('Burkina Faso', burkina_faso),
             ('Burundi', burundi),
             ('Cambodia', cambodia),
             ('Cameroon', cameroon),
             ('Canada', canada),
             ('Cape Verde', cape_verde),
             ('Central African Republic', central_african_republic),
             ('Chad', chad),
             ('Chile', chile),
             ('China', china),
             ('Colombia', colombia),
             ('Comoros', comoros),
             ('Congo', congo),
             ('Costa Rica', costa_rica),
             ('Cote dIvoire', cote_divoire),
             ('Croatia', croatia),
             ('Cuba', cuba),
             ('Cyprus', cyprus),
             ('Czech Republic', czech_republic),
             ('Democratic Republic of the Congo', democratic_republic_of_the_congo),
             ('Denmark', denmark),
             ('Djibouti', djibouti),
             ('Dominica', dominica),
             ('Dominican Republic', dominican_republic),
             ('Ecuador', ecuador),
             ('Egypt', egypt),
             ('El Salvador', el_salvador),
             ('Equatorial Guinea', equatorial_guinea),
             ('Eritrea', eritrea),
             ('Estonia', estonia),
             ('Ethiopia', ethiopia),
             ('Fiji', fiji),
             ('Finland', finland),
             ('France', france),
             ('Gabon', gabon),
             ('Gambia', gambia),
             ('Georgia', georgia),
             ('Germany', germany),
             ('Ghana', ghana),
             ('Greece', greece),
             ('Grenada', grenada),
             ('Guatemala', guatemala),
             ('Guinea', guinea),
             ('Guinea-Bissau', guinea_bissau),
             ('Guyana', guyana),
             ('Haiti', haiti),
             ('Honduras', honduras),
             ('Hungary', hungary),
             ('Iceland', iceland),
             ('India', india),
             ('Indonesia', indonesia),
             ('Iran', iran),
             ('Iraq', iraq),
             ('Ireland', ireland),
             ('Israel', israel),
             ('Italy', italy),
             ('Jamaica', jamaica),
             ('Japan', japan),
             ('Jordan', jordan),
             ('Kazakhstan', kazakhstan),
             ('Kenya', kenya),
             ('Kiribati', kiribati),
             ('Kuwait', kuwait),
             ('Kyrgyzstan', kyrgyzstan),
             ('Laos', laos),
             ('Latvia', latvia),
             ('Lebanon', lebanon),
             ('Lesotho', lesotho),
             ('Liberia', liberia),
             ('Libya', libya),
             ('Liechtenstein', liechtenstein),
             ('Lithuania', lithuania),
             ('Luxembourg', luxembourg),
             ('Macedonia', macedonia),
             ('Madagascar', madagascar),
             ('Malawi', malawi),
             ('Malaysia', malaysia),
             ('Maldives', maldives),
             ('Mali', mali),
             ('Malta', malta),
             ('Mauritania', mauritania),
             ('Mauritius', mauritius),
             ('Mexico', mexico),
             ('Micronesia', micronesia),
             ('Moldova', moldova),
             ('Monaco', monaco),
             ('Mongolia', mongolia),
             ('Montenegro', montenegro),
             ('Morocco', morocco),
             ('Mozambique', mozambique),
             ('Myanmar', myanmar),
             ('Namibia', namibia),
             ('Nauru', nauru),
             ('Nepal', nepal),
             ('Netherlands', netherlands),
             ('New Zealand', new_zealand),
             ('Nicaragua', nicaragua),
             ('Niger', niger),
             ('Nigeria', nigeria),
             ('North Korea', north_korea),
             ('Norway', norway),
             ('Oman', oman),
             ('Pakistan', pakistan),
             ('Palau', palau),
             ('Palestine', palestine),
             ('Panama', panama),
             ('Papua New Guinea', papua_new_guinea),
             ('Paraguay', paraguay),
             ('Peru', peru),
             ('Philippines', philippines),
             ('Poland', poland),
             ('Portugal', portugal),
             ('Qatar', qatar),
             ('Romania', romania),
             ('Russia', russia),
             ('Rwanda', rwanda),
             ('Saint Kitts and Nevis', saint_kitts_and_nevis),
             ('Saint Lucia', saint_lucia),
             ('Saint Vincent and the Grenadines', saint_vincent_and_the_grenadines),
             ('Somoa', samoa),
             ('San Marino', san_marino),
             ('Sao Tome and Principe', sao_tome_and_principe),
             ('Saudi Arabia', saudi_arabia),
             ('Senegal', senegal),
             ('Serbia', serbia),
             ('Seychelles', seychelles),
             ('Sierra Leone', sierra_leone),
             ('Singapore', singapore),
             ('Slovakia', slovakia),
             ('Slovenia', slovenia),
             ('Solomon Islands', solomon_islands),
             ('Somalia', somalia),
             ('South Africa', south_africa),
             ('South Korea', south_korea),
             ('South Sudan', south_sudan),
             ('Spain', spain),
             ('Sri Lanka', sri_lanka),
             ('Sudan', sudan),
             ('Suriname', suriname),
             ('Swaziland', swaziland),
             ('Sweden', sweden),
             ('Switzerland', switzerland),
             ('Syria', syria),
             ('Taiwan', taiwan),
             ('Tajikistan', tajikistan),
             ('Tanzania', tanzania),
             ('Thailand', thailand),
             ('Timor Leste', timor_leste),
             ('Togo', togo),
             ('Tongo', tonga),
             ('Trinidad and Tobago', trinidad_and_tobago),
             ('Tunisia', tunisia),
             ('Turkey', turkey),
             ('Turkmenistan', turkmenistan),
             ('Tuvalu', tuvalu),
             ('Uganda', uganda),
             ('Ukraine', ukraine),
             ('United Arabe Emirates', united_arab_emirates),
             ('United Kingdom', united_kingdom),
             ('United States', united_states),
             ('Uruguay', uruguay),
             ('Uzbekistan', uzbekistan),
             ('Vanuatu', vanuatu),
             ('Venezuela', venezuela),
             ('Vietnam', vietnam),
             ('Yemen', yemen),
             ('Zambia', zambia),
             ('Zimbabwe', zimbabwe)

SyntaxError: unexpected EOF while parsing (1233756130.py, line 196)

----------------------------------------------------------------------------------------------------------------------

## Estudo de caso:

Uso de um modelo de regressÃ£o para prever os paÃ­ses com tendÃªncias a aumentarem o nÃºmero de mortes causadas pela poluiÃ§Ã£o do ar domÃ©stica e externa por partÃ­culas e ozÃ´nio.                                                     
A poluiÃ§Ã£o do ar Ã© um dos principais fatores de risco de morte no mundo.

Hannah Ritchie and Max Roser (2017) - "Air Pollution". Published online at OurWorldInData.org. Retrieved from: 'https://ourworldindata.org/air-pollution' [Online Resource]

In [ ]:
# Modelo de rede nerual a ser utilizado: MLPRegressor

In [ ]:
Entity = {
    'Afghanistan', 
    'Albania',
    'Algeria', 
    'Andorra', 
    'Angola', 
    'Antigua and Barbuda', 
    'Argentina', 
    'Armenia'
} 
'Australia', 
'Austria', 
'Azerbaijan', 
'Bahamas', 
'Bahrain', 
'Bangladesh', 
'Barbados', 
'Belarus', 
'Belgium', 
'Belize', 
'Benin', 
'Bhutan', 
'Bolivia',
'Bosnia and Herzegovina',
'Botswana', 
'Brazil', 
'Brunei', 
'Bulgaria', 
'Burkina Faso',
'Burundi', 
'Cambodia',
'Cameroon',
'Canada', 
'Cape Verde', 
'Central African Republic', 
'Chad', 
'Chile',),
'China', china),
'Colombia', colombia),
'Comoros', comoros),
'Congo', congo),
'Costa Rica', costa_rica),
'Cote dIvoire', cote_divoire),
'Croatia', croatia),
'Cuba', cuba),
'Cyprus', cyprus),
'Czech Republic', czech_republic),
'Democratic Republic of the Congo', democratic_republic_of_the_congo),
'Denmark', denmark),
'Djibouti', djibouti),
'Dominica', dominica),
'Dominican Republic', dominican_republic),
'Ecuador', ecuador),
'Egypt', egypt),
'El Salvador', el_salvador),
'Equatorial Guinea', equatorial_guinea),
'Eritrea', eritrea),
'Estonia', estonia),
'Ethiopia', ethiopia),
'Fiji', fiji),
'Finland', finland),
'France', france),
'Gabon', gabon),
'Gambia', gambia),
'Georgia', georgia),
'Germany', germany),
'Ghana', ghana),
'Greece', greece),
'Grenada', grenada),
'Guatemala', guatemala),
'Guinea', guinea),
'Guinea-Bissau', guinea_bissau),
'Guyana', guyana),
'Haiti', haiti),
'Honduras', honduras),
'Hungary', hungary),
'Iceland', iceland),
'India', india),
'Indonesia', indonesia),
'Iran', iran),
'Iraq', iraq),
'Ireland', ireland),
'Israel', israel),
'Italy', italy),
'Jamaica', jamaica),
'Japan', japan),
'Jordan', jordan),
'Kazakhstan', kazakhstan),
'Kenya', kenya),
'Kiribati', kiribati),
'Kuwait', kuwait),
'Kyrgyzstan', kyrgyzstan),
'Laos', laos),
'Latvia', latvia),
'Lebanon', lebanon),
'Lesotho', lesotho),
'Liberia', liberia),
'Libya', libya),
'Liechtenstein', liechtenstein),
'Lithuania', lithuania),
'Luxembourg', luxembourg),
'Macedonia', macedonia),
'Madagascar', madagascar),
'Malawi', malawi),
'Malaysia', malaysia),
'Maldives', maldives),
'Mali', mali),
'Malta', malta),
'Mauritania', mauritania),
'Mauritius', mauritius),
'Mexico', mexico),
'Micronesia', micronesia),
'Moldova', moldova),
'Monaco', monaco),
'Mongolia', mongolia),
'Montenegro', montenegro),
'Morocco', morocco),
'Mozambique', mozambique),
'Myanmar', myanmar),
'Namibia', namibia),
'Nauru', nauru),
'Nepal', nepal),
'Netherlands', netherlands),
'New Zealand', new_zealand),
'Nicaragua', nicaragua),
'Niger', niger),
'Nigeria', nigeria),
'North Korea', north_korea),
'Norway', norway),
'Oman', oman),
'Pakistan', pakistan),
'Palau', palau),
'Palestine', palestine),
'Panama', panama),
'Papua New Guinea', papua_new_guinea),
'Paraguay', paraguay),
'Peru', peru),
'Philippines', philippines),
'Poland', poland),
'Portugal', portugal),
'Qatar', qatar),
'Romania', romania),
'Russia', russia),
'Rwanda', rwanda),
'Saint Kitts and Nevis', saint_kitts_and_nevis),
'Saint Lucia', saint_lucia),
'Saint Vincent and the Grenadines', saint_vincent_and_the_grenadines),
'Somoa', samoa),
'San Marino', san_marino),
'Sao Tome and Principe', sao_tome_and_principe),
'Saudi Arabia', saudi_arabia),
'Senegal', senegal),
'Serbia', serbia),
'Seychelles', seychelles),
'Sierra Leone', sierra_leone),
'Singapore', singapore),
'Slovakia', slovakia),
'Slovenia', slovenia),
'Solomon Islands', solomon_islands),
'Somalia', somalia),
'South Africa', south_africa),
'South Korea', south_korea),
'South Sudan', south_sudan),
'Spain', spain),
'Sri Lanka', sri_lanka),
'Sudan', sudan),
'Suriname', suriname),
'Swaziland', swaziland),
'Sweden', sweden),
'Switzerland', switzerland),
'Syria', syria),
'Taiwan', taiwan),
'Tajikistan', tajikistan),
'Tanzania', tanzania),
'Thailand', thailand),
'Timor Leste', timor_leste),
'Togo', togo),
'Tongo', tonga),
'Trinidad and Tobago', trinidad_and_tobago),
'Tunisia', tunisia),
'Turkey', turkey),
'Turkmenistan', turkmenistan),
'Tuvalu', tuvalu),
'Uganda', uganda),
'Ukraine', ukraine),
'United Arabe Emirates', united_arab_emirates),
'United Kingdom', united_kingdom),
'United States', united_states),
'Uruguay', uruguay),
'Uzbekistan', uzbekistan),
'Vanuatu',
'Venezuela',
'Vietnam',
'Yemen',
'Zambia',
'Zimbabwe'

In [ ]:
# -*- coding: utf-8 -*-
"""Aula_9_1_Darielson.ipynb

Automatically generated by Colaboratory.

Original file is located at
    https://colab.research.google.com/drive/1Anh7PnO2RBqWD9hYKnCCMYuzYObwuumC
"""

# AplicaÃ§Ã£o do Kfold {validaÃ§Ã£o cruzada}
import numpy as np # importaÃ§Ã£o do numpy
import pandas as pd # importaÃ§Ã£o do pandas

from sklearn.model_selection import KFold # importaÃ§Ã£o do kfold
from sklearn.metrics import accuracy_score # importaÃ§Ã£o das metricas

from sklearn import tree # importaÃ§Ã£o da arvore de decisÃ£o
from sklearn import svm # importaÃ§Ã£o da SVM
from sklearn import naive_bayes # importaÃ§Ã£o do naive bayes
from sklearn.neural_network import MLPClassifier  # importaÃ§Ã£o do classificador RNA MLP
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier # ImportaÃ§Ã£o da Floresta aleatoria e GBD

#url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data" # variavel que guarda a url do dataset iris
#data = pd.read_csv(url,header = None) #variavel que guarda o dataset e um outrod argumento para cabeÃ§alho
#data.columns = ["Calix length", "Calix width", "Petal length", "petal width", "category"] # organizaÃ§Ã£o dos nomes de cada coluna que focarÃ¡ na variavel data

# X = data.iloc[:,0:4] # variavel que guadar as colunas 0 atÃ© <4 ou seja de 0 atÃ© 3
# Y = data.iloc[:,4] # variavel que guarda a Ãºtima coluna referente a categoria

X = df.iloc[:,1:3]
Y = df.iloc[:,3]

k = 10 # numero de fatias do Kfold
kf = KFold(n_splits = k, shuffle=True) # funÃ§Ã£o que set o argumentos do Kfold numero de separaÃ§poes e embaralhamento de registros do dataset

# Essa funÃ§Ã£o servirÃ¡ para o uso de qualquer modelo ao ser chamada
def eval_model(model_name, model): # funÃ§Ã£o que retorna um modelo de rodadas do Kfold e uma mÃ©dia de cada rodada
    accuracies = []
    i=0
    for train_index, test_index in kf.split(df): # loop para treino e teste de cada fatia do kfold 
        x_train, x_test = X.loc[train_index], X.loc[test_index] # variaveis que guardam as varreduras do treino e teste das entradas
        y_train, y_test = Y.loc[train_index], Y.loc[test_index] # variaveis que guardam as varreduras do treino e teste das saidas
        
        model.fit(x_train,y_train) # modelagem do treino de x e y 
        y_predict = model.predict(x_test) # predicao das entradas dos testes com a base no treino
        
        accuracy = accuracy_score(y_pred = y_predict, y_true = y_test) # acurancia de acordo com a saida real
        accuracies.append(accuracy) # serÃ¡ guardado os valores das acuracias de cada round(fatia de teste) em uma lista
        i+=1 # incremente +1
        
        print('A primeira{}round: {}'.format(i, accuracy)) # impressÃ£o da acurÃ¡cia de cada fatia de teste do modelo
              
              
    print(model_name+"Modelo da acuracia: ",np.mean(accuracies)) # impressÃ£o da media das acurÃ¡cia do modelo em uso

# Aqui fiz uma lista de funÃ§Ãµes lambdas que sÃ£o funÃ§Ãµes mais rapidas de serem lidas que funÃ§oes normais
# caso alguem tenha curiosidade de sua funcionalidade estÃ¡ aqui um link: http://www.dsc.ufcg.edu.br/~pet/jornal/maio2013/materias/tutoriais.html
models = {
        'decision tree': lambda: tree.DecisionTreeClassifier(), # funÃ§ÃµÃ£o lamda que tem a execuÃ§Ã£o da arvore de decisÃ£o
        'random forest': lambda: RandomForestClassifier(n_estimators = 100), # funÃ§Ã£o lambda da floresta aleatoria
        'naive_bayes': lambda: naive_bayes.GaussianNB(), # funÃ§Ã£o lambda do naive bayes
        'svm': lambda: svm.SVC(gamma = 'scale'), # funÃ§Ã£o lamda da SVM para classificaÃ§Ã£o
        'GBDT': lambda:GradientBoostingClassifier(), # funÃ§Ã£o lambda do Gradiente boosing
        'MLP': lambda: MLPClassifier(max_iter = 10000), # funÃ§Ã£o lambda da RNA MLP
        }

for name,m in models.items(): # Looop para fazer a varredura a lista de funÃ§Ãµes lambdas de cada metodo
    eval_model(name, m()) # aqui temos a chamada de funÃ§Ã£o do modelo do Kfold para cada classificador na lista das funÃ§Ãµes lambdas
    # depois que essas funÃ§Ãµes lambdas sÃ£o chamadas pela funÃ§Ã£o modelo usado para o Kfold serÃ¡ mostrado
    # as impressÃµs dos resultados