In [1]:
import pandas as pd
import seaborn as sns

## Number of deaths by risk factor

In [2]:
df_number_of_deaths_by_risk_factor = pd.read_csv('../data/Air-pollution/number-of-deaths-by-risk-factor.csv')
df_number_of_deaths_by_risk_factor

,Entity,Code,Year,Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: High systolic blood pressure - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Diet high in sodium - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Diet low in whole grains - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Alcohol use - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Diet low in fruits - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Unsafe water source - Sex: Both - Age: All Ages (Number),...,Deaths - Cause: All causes - Risk: High body-mass index - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Unsafe sanitation - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: No access to handwashing facility - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Drug use - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Low bone mineral density - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Vitamin A deficiency - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Child stunting - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Discontinued breastfeeding - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Non-exclusive breastfeeding - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Iron deficiency - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,1990,3169,25633,1045,7077,356,3185,3702,...,9518,2798,4825,174,389,2016,7686,107,2216,564
1,Afghanistan,AFG,1991,3222,25872,1055,7149,364,3248,4309,...,9489,3254,5127,188,389,2056,7886,121,2501,611
2,Afghanistan,AFG,1992,3395,26309,1075,7297,376,3351,5356,...,9528,4042,5889,211,393,2100,8568,150,3053,700
3,Afghanistan,AFG,1993,3623,26961,1103,7499,389,3480,7152,...,9611,5392,7007,232,411,2316,9875,204,3726,773
4,Afghanistan,AFG,1994,3788,27658,1134,7698,399,3610,7192,...,9675,5418,7421,247,413,2665,11031,204,3833,812
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,2835,11483,1063,1354,4854,1820,4336,...,5636,2879,4328,1068,407,138,730,21,734,282
6836,Zimbabwe,ZWE,2016,2781,11663,1082,1383,4915,1854,4244,...,5849,2798,4295,1042,415,101,674,20,700,275
6837,Zimbabwe,ZWE,2017,2700,11819,1098,1409,4992,1883,4193,...,6047,2744,4251,1007,424,82,629,19,678,267
6838,Zimbabwe,ZWE,2018,2669,12002,1117,1439,5044,1917,4013,...,6248,2608,4153,969,434,85,607,17,644,261
6839,Zimbabwe,ZWE,2019,2680,12241,1140,1475,5156,1960,3914,...,6475,2531,4113,963,438,81,585,16,631,259

In [3]:
df_number_of_deaths_by_risk_factor['Entity'].unique()

array(['Afghanistan', 'African Region (WHO)', 'Albania', 'Algeria',
       'American Samoa', 'Andorra', 'Angola', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Cape Verde', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', 'Democratic Republic of Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'East Asia & Pacific (WB)',
       'Eastern Mediterranean Region (WHO)', 'Ecuador', 'Egypt',
       'El Salvador', 'England', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Europe & Central Asia (WB)',
       'European Region (WHO)', 'Fiji', 'Finland', 'France', 'G20',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latin America & Caribbean (WB)', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Middle East & North Africa (WB)',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North America (WB)', 'North Korea', 'North Macedonia',
       'Northern Ireland', 'Northern Mariana Islands', 'Norway',
       'OECD Countries', 'Oman', 'Pakistan', 'Palau', 'Palestine',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Region of the Americas (WHO)', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Asia (WB)', 'South Korea', 'South Sudan',
       'South-East Asia Region (WHO)', 'Spain', 'Sri Lanka',
       'Sub-Saharan Africa (WB)', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Wales', 'Western Pacific Region (WHO)', 'World',
       'World Bank High Income', 'World Bank Low Income',
       'World Bank Lower Middle Income', 'World Bank Upper Middle Income',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [4]:
df_number_of_deaths_by_risk_factor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6840 entries, 0 to 6839
Data columns (total 31 columns):
 #   Column                                                                                                            Non-Null Count  Dtype
---  ------                                                                                                            --------------  -----
 0   Entity                                                                                                            6840 non-null   object
 1   Code                                                                                                              6150 non-null   object
 2   Year                                                                                                              6840 non-null   int64
 3   Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: All Ages (Number)              6840 non-null   int64
 4   Deaths - Cause: All causes - Risk: High systolic blood pressure - Sex: Both - Age: All Ages (Number)              6840 non-null   int64
 5   Deaths - Cause: All causes - Risk: Diet high in sodium - Sex: Both - Age: All Ages (Number)                       6840 non-null   int64
 6   Deaths - Cause: All causes - Risk: Diet low in whole grains - Sex: Both - Age: All Ages (Number)                  6840 non-null   int64
 7   Deaths - Cause: All causes - Risk: Alcohol use - Sex: Both - Age: All Ages (Number)                               6840 non-null   int64
 8   Deaths - Cause: All causes - Risk: Diet low in fruits - Sex: Both - Age: All Ages (Number)                        6840 non-null   int64
 9   Deaths - Cause: All causes - Risk: Unsafe water source - Sex: Both - Age: All Ages (Number)                       6840 non-null   int64
 10  Deaths - Cause: All causes - Risk: Secondhand smoke - Sex: Both - Age: All Ages (Number)                          6840 non-null   int64
 11  Deaths - Cause: All causes - Risk: Low birth weight - Sex: Both - Age: All Ages (Number)                          6840 non-null   int64
 12  Deaths - Cause: All causes - Risk: Child wasting - Sex: Both - Age: All Ages (Number)                             6840 non-null   int64
 13  Deaths - Cause: All causes - Risk: Unsafe sex - Sex: Both - Age: All Ages (Number)                                6840 non-null   int64
 14  Deaths - Cause: All causes - Risk: Diet low in nuts and seeds - Sex: Both - Age: All Ages (Number)                6840 non-null   int64
 15  Deaths - Cause: All causes - Risk: Household air pollution from solid fuels - Sex: Both - Age: All Ages (Number)  6840 non-null   int64
 16  Deaths - Cause: All causes - Risk: Diet low in vegetables - Sex: Both - Age: All Ages (Number)                    6840 non-null   int64
 17  Deaths - Cause: All causes - Risk: Low physical activity - Sex: Both - Age: All Ages (Number)                     6840 non-null   int64
 18  Deaths - Cause: All causes - Risk: Smoking - Sex: Both - Age: All Ages (Number)                                   6840 non-null   int64
 19  Deaths - Cause: All causes - Risk: High fasting plasma glucose - Sex: Both - Age: All Ages (Number)               6840 non-null   int64
 20  Deaths - Cause: All causes - Risk: Air pollution - Sex: Both - Age: All Ages (Number)                             6840 non-null   int64
 21  Deaths - Cause: All causes - Risk: High body-mass index - Sex: Both - Age: All Ages (Number)                      6840 non-null   int64
 22  Deaths - Cause: All causes - Risk: Unsafe sanitation - Sex: Both - Age: All Ages (Number)                         6840 non-null   int64
 23  Deaths - Cause: All causes - Risk: No access to handwashing facility - Sex: Both - Age: All Ages (Number)         6840 non-null   int64
 24  Deaths - Cause: All causes - Risk: Drug use - Sex: Both - Age: All Ages (Number)                                  6840 non-null   int64
 25  Deaths - Cause: All causes - Risk: Low bone mineral density - Sex: Both - Age: All Ages (Number)                  6840 non-null   int64
 26  Deaths - Cause: All causes - Risk: Vitamin A deficiency - Sex: Both - Age: All Ages (Number)                      6840 non-null   int64
 27  Deaths - Cause: All causes - Risk: Child stunting - Sex: Both - Age: All Ages (Number)                            6840 non-null   int64
 28  Deaths - Cause: All causes - Risk: Discontinued breastfeeding - Sex: Both - Age: All Ages (Number)                6840 non-null   int64
 29  Deaths - Cause: All causes - Risk: Non-exclusive breastfeeding - Sex: Both - Age: All Ages (Number)               6840 non-null   int64
 30  Deaths - Cause: All causes - Risk: Iron deficiency - Sex: Both - Age: All Ages (Number)                           6840 non-null   int64
dtypes: int64(29), object(2)
memory usage: 1.6+ MB

In [5]:
df_number_of_deaths_by_risk_factor.rename(columns={
    'Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: All Ages (Number)': 'Outdoor air pollution',
    'Deaths - Cause: All causes - Risk: High systolic blood pressure - Sex: Both - Age: All Ages (Number)': 'High systolic blood pressure',
    'Deaths - Cause: All causes - Risk: Diet high in sodium - Sex: Both - Age: All Ages (Number)': 'Diet high in sodium',
    'Deaths - Cause: All causes - Risk: Diet low in whole grains - Sex: Both - Age: All Ages (Number)': 'Diet low in whole grains',
    'Deaths - Cause: All causes - Risk: Alcohol use - Sex: Both - Age: All Ages (Number)': 'Alcohol use',
    'Deaths - Cause: All causes - Risk: Diet low in fruits - Sex: Both - Age: All Ages (Number)': 'Diet low in fruits',
    'Deaths - Cause: All causes - Risk: Unsafe water source - Sex: Both - Age: All Ages (Number)': 'Unsafe water source',
    'Deaths - Cause: All causes - Risk: Secondhand smoke - Sex: Both - Age: All Ages (Number)': 'Secondhand smoke',
    'Deaths - Cause: All causes - Risk: Low birth weight - Sex: Both - Age: All Ages (Number)': 'Low birth weight',
    'Deaths - Cause: All causes - Risk: Child wasting - Sex: Both - Age: All Ages (Number)': 'Child wasting',
    'Deaths - Cause: All causes - Risk: Unsafe sex - Sex: Both - Age: All Ages (Number)': 'Unsafe sex',
    'Deaths - Cause: All causes - Risk: Diet low in nuts and seeds - Sex: Both - Age: All Ages (Number)': 'Diet low in nuts and seeds',
    'Deaths - Cause: All causes - Risk: Household air pollution from solid fuels - Sex: Both - Age: All Ages (Number)': 'Household air pollution from solid fuels',
    'Deaths - Cause: All causes - Risk: Diet low in vegetables - Sex: Both - Age: All Ages (Number)': 'Diet low in vegetables',
    'Deaths - Cause: All causes - Risk: Low physical activity - Sex: Both - Age: All Ages (Number)': 'Low physical activity',
    'Deaths - Cause: All causes - Risk: Smoking - Sex: Both - Age: All Ages (Number)': 'Smoking',
    'Deaths - Cause: All causes - Risk: High fasting plasma glucose - Sex: Both - Age: All Ages (Number)': 'High fasting plasma glucose',
    'Deaths - Cause: All causes - Risk: Air pollution - Sex: Both - Age: All Ages (Number)': 'Air pollution',
    'Deaths - Cause: All causes - Risk: High body-mass index - Sex: Both - Age: All Ages (Number)': 'High body-mass index',
    'Deaths - Cause: All causes - Risk: Unsafe sanitation - Sex: Both - Age: All Ages (Number)': 'Unsafe sanitation',
    'Deaths - Cause: All causes - Risk: No access to handwashing facility - Sex: Both - Age: All Ages (Number)': 'No access to handwashing facility',
    'Deaths - Cause: All causes - Risk: Drug use - Sex: Both - Age: All Ages (Number)': 'Drug use',
    'Deaths - Cause: All causes - Risk: Low bone mineral density - Sex: Both - Age: All Ages (Number)': 'Low bone mineral density',
    'Deaths - Cause: All causes - Risk: Vitamin A deficiency - Sex: Both - Age: All Ages (Number)': 'Vitamin A deficiency',
    'Deaths - Cause: All causes - Risk: Child stunting - Sex: Both - Age: All Ages (Number)': 'Child stunting',
    'Deaths - Cause: All causes - Risk: Discontinued breastfeeding - Sex: Both - Age: All Ages (Number)': 'Discontinued breastfeeding',
    'Deaths - Cause: All causes - Risk: Non-exclusive breastfeeding - Sex: Both - Age: All Ages (Number)': 'Non-exclusive breastfeeding',
    'Deaths - Cause: All causes - Risk: Iron deficiency - Sex: Both - Age: All Ages (Number)': 'Iron deficiency',
}, inplace=True)

In [6]:
del df_number_of_deaths_by_risk_factor['Code']

In [7]:
df_number_of_deaths_by_risk_factor

,Entity,Year,Outdoor air pollution,High systolic blood pressure,Diet high in sodium,Diet low in whole grains,Alcohol use,Diet low in fruits,Unsafe water source,Secondhand smoke,...,High body-mass index,Unsafe sanitation,No access to handwashing facility,Drug use,Low bone mineral density,Vitamin A deficiency,Child stunting,Discontinued breastfeeding,Non-exclusive breastfeeding,Iron deficiency
0,Afghanistan,1990,3169,25633,1045,7077,356,3185,3702,4794,...,9518,2798,4825,174,389,2016,7686,107,2216,564
1,Afghanistan,1991,3222,25872,1055,7149,364,3248,4309,4921,...,9489,3254,5127,188,389,2056,7886,121,2501,611
2,Afghanistan,1992,3395,26309,1075,7297,376,3351,5356,5279,...,9528,4042,5889,211,393,2100,8568,150,3053,700
3,Afghanistan,1993,3623,26961,1103,7499,389,3480,7152,5734,...,9611,5392,7007,232,411,2316,9875,204,3726,773
4,Afghanistan,1994,3788,27658,1134,7698,399,3610,7192,6050,...,9675,5418,7421,247,413,2665,11031,204,3833,812
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,2015,2835,11483,1063,1354,4854,1820,4336,1614,...,5636,2879,4328,1068,407,138,730,21,734,282
6836,Zimbabwe,2016,2781,11663,1082,1383,4915,1854,4244,1625,...,5849,2798,4295,1042,415,101,674,20,700,275
6837,Zimbabwe,2017,2700,11819,1098,1409,4992,1883,4193,1625,...,6047,2744,4251,1007,424,82,629,19,678,267
6838,Zimbabwe,2018,2669,12002,1117,1439,5044,1917,4013,1628,...,6248,2608,4153,969,434,85,607,17,644,261
6839,Zimbabwe,2019,2680,12241,1140,1475,5156,1960,3914,1646,...,6475,2531,4113,963,438,81,585,16,631,259

In [8]:
df_number_of_deaths_by_risk_factor.drop(columns=[
    'Low physical activity',
    'Non-exclusive breastfeeding',
    'Child wasting',
    'High systolic blood pressure',
    'High fasting plasma glucose',
    'Child stunting',
    'High body-mass index',
    'Secondhand smoke',
    'Diet low in fruits',
    'Diet high in sodium',
    'Drug use',
    'Household air pollution from solid fuels',
    'Low bone mineral density',
    'Smoking',
    'Vitamin A deficiency',
    'Unsafe sanitation',
    'Unsafe water source',
    'Diet low in vegetables',
    'Low birth weight',
    'Diet low in nuts and seeds',
    'Diet low in whole grains',
    'Alcohol use',
    'No access to handwashing facility',
    'Discontinued breastfeeding',
    'Iron deficiency',
    'Unsafe sex',
    'Outdoor air pollution'
], inplace=True)

In [9]:
df_number_of_deaths_by_risk_factor

           Entity  Year  Air pollution
0     Afghanistan  1990          37231
1     Afghanistan  1991          38315
2     Afghanistan  1992          41172
3     Afghanistan  1993          44488
4     Afghanistan  1994          46634
...           ...   ...            ...
6835     Zimbabwe  2015          13246
6836     Zimbabwe  2016          13131
6837     Zimbabwe  2017          12926
6838     Zimbabwe  2018          12745
6839     Zimbabwe  2019          12667

[6840 rows x 3 columns]

In [10]:
a = df_number_of_deaths_by_risk_factor['Air pollution'].iloc[0]
b = df_number_of_deaths_by_risk_factor['Air pollution'].iloc[29]
absolute_change = b - a
absolute_change # Afghanistan

-198

In [11]:
df_number_of_deaths_by_risk_factor['Air pollution'] = df_number_of_deaths_by_risk_factor.iloc[:, 2]
pol_con = df_number_of_deaths_by_risk_factor.set_index(['Entity'])

countrys = list(df_number_of_deaths_by_risk_factor['Entity'].unique())

In [12]:
a = []

for i in countrys:
    
    m = pol_con.loc[i, ['Year', 'Air pollution']]
    
    a.append([i, m.loc[m['Year'] == 2019]['Air pollution'] - m.loc[m['Year'] == 1990]['Air pollution']])


data1 = {'Entity' : [],
         'Absolute change of deaths by air pollution (1990-2019)' : []}


for i in range(len(a)):
    
    data1['Entity'].append(a[i][0])
    data1['Absolute change of deaths by air pollution (1990-2019)'].append(a[i][1][0])
    
    
df1 = pd.DataFrame.from_dict(data1)
df1 = df1.set_index(['Entity'])

print(df1)

                                Absolute change of deaths by air pollution (1990-2019)
Entity
Afghanistan                                                                  -198
African Region (WHO)                                                        28376
Albania                                                                      -689
Algeria                                                                      7939
American Samoa                                                                 -1
...                                                                           ...
World Bank Lower Middle Income                                             421070
World Bank Upper Middle Income                                             -99149
Yemen                                                                         -38
Zambia                                                                      -1258
Zimbabwe                                                                     3736

[228 rows x 1 columns]

In [13]:
r = []

for i in countrys:
    
    m = pol_con.loc[i, ['Year', 'Air pollution']]
    
    r.append([i, ((m.loc[m['Year'] == 2019]['Air pollution'] - m.loc[m['Year'] == 1990]['Air pollution']) / m.loc[m['Year'] == 1990]['Air pollution']) * 100])


data2 = {'Entity' : [],
         'Relative change of deaths by air pollution (1990-2019)' : []}


for i in range(len(r)):
    
    data2['Entity'].append(r[i][0])
    data2['Relative change of deaths by air pollution (1990-2019)'].append(r[i][1][0])
    
    
df2 = pd.DataFrame.from_dict(data2)
df2 = df2.set_index(['Entity'])

print(df2)

                                Relative change of deaths by air pollution (1990-2019)
Entity
Afghanistan                                                             -0.531815
African Region (WHO)                                                     3.265866
Albania                                                                -23.237774
Algeria                                                                 55.818041
American Samoa                                                          -6.666667
...                                                                           ...
World Bank Lower Middle Income                                          15.193914
World Bank Upper Middle Income                                          -3.922167
Yemen                                                                   -0.179059
Zambia                                                                  -9.614797
Zimbabwe                                                                41.831822

[228 rows x 1 columns]

Mudança absoluta refere-se à simples diferença no indicador em dois períodos no tempo, ou seja,

        absolute change = value of indicator in period 2 - value of indicator in period 1

Mudança relativa expressa a mudança absoluta como uma porcentagem do valor do indicador no período anterior, ou seja,

                                relative change = ((p2 - p1) / p1) * 100

In [14]:
df_ = pd.merge(df1, df2, on='Entity')
df_

,Absolute change of deaths by air pollution (1990-2019),Relative change of deaths by air pollution (1990-2019)
Entity,,
Afghanistan,-198,-0.531815
African Region (WHO),28376,3.265866
Albania,-689,-23.237774
Algeria,7939,55.818041
American Samoa,-1,-6.666667
...,...,...
World Bank Lower Middle Income,421070,15.193914
World Bank Upper Middle Income,-99149,-3.922167
Yemen,-38,-0.179059
Zambia,-1258,-9.614797
Zimbabwe,3736,41.831822

In [15]:
df_1990 = df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Year'] == 1990]
df_2019 = df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Year'] == 2019]

df_1990_2019 = pd.merge(df_1990, df_2019, on='Entity')

In [16]:
del df_1990_2019['Year_x']
del df_1990_2019['Year_y']

In [17]:
df_1990_2019

                             Entity  Air pollution_x  Air pollution_y
0                       Afghanistan            37231            37033
1              African Region (WHO)           868866           897242
2                           Albania             2965             2276
3                           Algeria            14223            22162
4                    American Samoa               15               14
..                              ...              ...              ...
223  World Bank Lower Middle Income          2771307          3192377
224  World Bank Upper Middle Income          2527914          2428765
225                           Yemen            21222            21184
226                          Zambia            13084            11826
227                        Zimbabwe             8931            12667

[228 rows x 3 columns]

In [18]:
df = pd.merge(df_1990_2019, df_, on='Entity')
df.rename(columns={
    'Air pollution_x' : '1990',
    'Air pollution_y' : '2019',
}, inplace=True)

In [19]:
df

,Entity,1990,2019,Absolute change of deaths by air pollution (1990-2019),Relative change of deaths by air pollution (1990-2019)
0,Afghanistan,37231,37033,-198,-0.531815
1,African Region (WHO),868866,897242,28376,3.265866
2,Albania,2965,2276,-689,-23.237774
3,Algeria,14223,22162,7939,55.818041
4,American Samoa,15,14,-1,-6.666667
...,...,...,...,...,...
223,World Bank Lower Middle Income,2771307,3192377,421070,15.193914
224,World Bank Upper Middle Income,2527914,2428765,-99149,-3.922167
225,Yemen,21222,21184,-38,-0.179059
226,Zambia,13084,11826,-1258,-9.614797
227,Zimbabwe,8931,12667,3736,41.831822

----------------------------------------------------------------------------------------------------------------------

In [20]:
# ----------------------------------------- Graphs ----------------------------------------- #

In [28]:
%pip install -q ipywidgets matplotlib networkx

Note: you may need to restart the kernel to use updated packages.

In [29]:
from ipywidgets import interact

In [30]:
%matplotlib inline
import matplotlib.pyplot as plt

In [31]:
import networkx as nx

In [137]:
def afghanistan():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Afghanistan'].set_index(['Year'])

def albania():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Albania'].set_index(['Year'])

def algeria():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Algeria'].set_index(['Year'])

def andorra():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Andorra'].set_index(['Year'])

def angola():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Angola'].set_index(['Year'])

def antigua_and_barbuda():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Antigua and Barbuda'].set_index(['Year'])

def argentina():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Argentina'].set_index(['Year'])

def armenia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Armenia'].set_index(['Year'])

def australia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Australia'].set_index(['Year'])

def austria():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Austria'].set_index(['Year'])

def azerbaijan():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Azerbaijan'].set_index(['Year'])

def bahamas():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Bahamas'].set_index(['Year'])

def bahrain():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Bahrain'].set_index(['Year'])

def bangladesh():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Bangladesh'].set_index(['Year'])

def barbados():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Barbados'].set_index(['Year'])

def belarus():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Belarus'].set_index(['Year'])

def belgium():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Belgium'].set_index(['Year'])

def belize():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Belize'].set_index(['Year'])

def benin():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Benin'].set_index(['Year'])

def bhutan():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Bhutan'].set_index(['Year'])

def bolivia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Bolivia'].set_index(['Year'])

def bosnia_and_herzegovina():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Bosnia and Herzegovina'].set_index(['Year'])

def botswana():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Botswana'].set_index(['Year'])

def brazil():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Brazil'].set_index(['Year'])

def brunei():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Brunei'].set_index(['Year'])

def bulgaria():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Bulgaria'].set_index(['Year'])

def burkina_faso():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Burkina Faso'].set_index(['Year'])

def burundi():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Burundi'].set_index(['Year'])

def cambodia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Cambodia'].set_index(['Year'])

def cameroon():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Cameroon'].set_index(['Year'])

def canada():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Canada'].set_index(['Year'])

def cape_verde():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Cape Verde'].set_index(['Year'])

def central_african_republic():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Central African Republic'].set_index(['Year'])

def chad():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Chad'].set_index(['Year'])

def chile():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Chile'].set_index(['Year'])

def china():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'China'].set_index(['Year'])

def colombia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Colombia'].set_index(['Year'])

def comoros():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Comoros'].set_index(['Year'])

def congo():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Congo'].set_index(['Year'])

def costa_rica():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Costa Rica'].set_index(['Year'])

def cote_divoire():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Cote dIvoire'].set_index(['Year'])

def croatia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Croatia'].set_index(['Year'])

def cuba():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Cuba'].set_index(['Year'])

def cyprus():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Cyprus'].set_index(['Year'])

def czech_republic():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Czech Republic'].set_index(['Year'])

def democratic_republic_of_the_congo():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Democratic Republic of the Congo'].set_index(['Year'])

def denmark():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Denmark'].set_index(['Year'])

def djibouti():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Djibouti'].set_index(['Year'])

def dominica():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Dominica'].set_index(['Year'])

def dominican_republic():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Dominican Republic'].set_index(['Year'])

def ecuador():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Ecuador'].set_index(['Year'])

def egypt():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Egypt'].set_index(['Year'])

def el_salvador():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'El Salvador'].set_index(['Year'])

def equatorial_guinea():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Equatorial Guinea'].set_index(['Year'])

def eritrea():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Eritrea'].set_index(['Year'])

def estonia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Estonia'].set_index(['Year'])

def ethiopia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Ethiopia'].set_index(['Year'])

def fiji():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Fiji'].set_index(['Year'])

def finland():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Finland'].set_index(['Year'])

def france():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'France'].set_index(['Year'])

def gabon():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Gabon'].set_index(['Year'])

def gambia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Gambia'].set_index(['Year'])

def georgia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Georgia'].set_index(['Year'])

def germany():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Germany'].set_index(['Year'])

def ghana():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Ghana'].set_index(['Year'])

def greece():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Greece'].set_index(['Year'])

def grenada():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Grenada'].set_index(['Year'])

def guatemala():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Guatemala'].set_index(['Year'])

def guinea():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Guinea'].set_index(['Year'])

def guinea_bissau():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Guinea-Bissau'].set_index(['Year'])

def guyana():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Guyana'].set_index(['Year'])

def haiti():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Haiti'].set_index(['Year'])

def honduras():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Honduras'].set_index(['Year'])

def hungary():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Hungary'].set_index(['Year'])

def iceland():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Iceland'].set_index(['Year'])

def india():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'India'].set_index(['Year'])

def indonesia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Indonesia'].set_index(['Year'])

def iran():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Iran'].set_index(['Year'])

def iraq():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Iraq'].set_index(['Year'])

def ireland():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Ireland'].set_index(['Year'])

def israel():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Israel'].set_index(['Year'])

def italy():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Italy'].set_index(['Year'])

def jamaica():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Jamaica'].set_index(['Year'])

def japan():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Japan'].set_index(['Year'])

def jordan():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Jordan'].set_index(['Year'])

def kazakhstan():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Kazakhstan'].set_index(['Year'])

def kenya():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Kenya'].set_index(['Year'])

def kiribati():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Kiribati'].set_index(['Year'])

def kuwait():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Kuwait'].set_index(['Year'])

def kyrgyzstan():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Kyrgyzstan'].set_index(['Year'])

def laos():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Laos'].set_index(['Year'])

def latvia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Latvia'].set_index(['Year'])

def lebanon():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Lebanon'].set_index(['Year'])

def lesotho():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Lesotho'].set_index(['Year'])

def liberia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Liberia'].set_index(['Year'])

def libya():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Libya'].set_index(['Year'])

def liechtenstein():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Liechtenstein'].set_index(['Year'])

def lithuania():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Lithuania'].set_index(['Year'])

def luxembourg():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Luxembourg'].set_index(['Year'])

def macedonia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Macedonia'].set_index(['Year'])

def madagascar():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Madagascar'].set_index(['Year'])

def malawi():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Malawi'].set_index(['Year'])

def malaysia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Malaysia'].set_index(['Year'])

def maldives():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Maldives'].set_index(['Year'])

def mali():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Mali'].set_index(['Year'])

def malta():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Malta'].set_index(['Year'])

def mauritania():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Mauritania'].set_index(['Year'])

def mauritius():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Mauritius'].set_index(['Year'])

def mexico():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Mexico'].set_index(['Year'])

def micronesia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Micronesia'].set_index(['Year'])

def moldova():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Moldova'].set_index(['Year'])

def monaco():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Monaco'].set_index(['Year'])

def mongolia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Mongolia'].set_index(['Year'])

def montenegro():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Montenegro'].set_index(['Year'])

def morocco():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Morocco'].set_index(['Year'])

def mozambique():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Mozambique'].set_index(['Year'])

def myanmar():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Myanmar'].set_index(['Year'])

def namibia():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Namibia'].set_index(['Year'])

def nauru():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Nauru'].set_index(['Year'])

def nepal():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Nepal'].set_index(['Year'])

def netherlands():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Netherlands'].set_index(['Year'])

def new_zealand():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'New Zealand'].set_index(['Year'])

def nicaragua():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Nicaragua'].set_index(['Year'])

def niger():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Niger'].set_index(['Year'])

def nigeria():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Nigeria'].set_index(['Year'])

def north_korea():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'North Korea'].set_index(['Year'])

def norway():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Norway'].set_index(['Year'])

def oman():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Oman'].set_index(['Year'])

def pakistan():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Pakistan'].set_index(['Year'])

def palau():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Palau'].set_index(['Year'])

def palestine():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Palesine'].set_index(['Year'])

def panama():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Panama'].set_index(['Year'])

def papua_new_guinea():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Papua New Guinea'].set_index(['Year'])

def paraguay():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Paraguay'].set_index(['Year'])

def peru():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Peru'].set_index(['Year'])

def philippines():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Philippines'].set_index(['Year'])

def poland():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Poland'].set_index(['Year'])

def portugal():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Portugal'].set_index(['Year'])

def qatar():
    return df_number_of_deaths_by_risk_factor[df_number_of_deaths_by_risk_factor['Entity'] == 'Qatar'].set_index(['Year'])

def plot_graph(generator):
    g = generator()
    g.plot(ylabel = 'Air pollution (Deaths numbers)', figsize = (20,10))
    plt.show()

In [139]:
interact(plot_graph,
         generator=[
             ('Afghanistan', afghanistan),
             ('Albania', albania),
             ('Algeria', algeria),
             ('Andorra', andorra),
             ('Angola', angola),
             ('Antigua and Barbuda', antigua_and_barbuda),
             ('Argentina', argentina),
             ('Armenia', armenia),
             ('Australia', australia),
             ('Austria', austria),
             ('Azerbaijan', azerbaijan),
             ('Bahamas', bahamas),
             ('Bahrain', bahrain),
             ('Bangladesh', bangladesh),
             ('Barbados', barbados),
             ('Belarus', belarus),
             ('Belgium', belgium),
             ('Belize', belize),
             ('Benin', benin),
             ('Bhutan', bhutan),
             ('Bolivia', bolivia),
             ('Bosnia and Herzegovina', bosnia_and_herzegovina),
             ('Botswana', botswana),
             ('Brazil', brazil),
             ('Brunei', brunei),
             ('Bulgaria', bulgaria),
             ('Burkina Faso', burkina_faso),
             ('Burundi', burundi),
             ('Cambodia', cambodia),
             ('Cameroon', cameroon),
             ('Canada', canada),
             ('Cape Verde', cape_verde),
             ('Central African Republic', central_african_republic),
             ('Chad', chad),
             ('Chile', chile),
             ('China', china),
             ('Colombia', colombia),
             ('Comoros', comoros),
             ('Congo', congo),
             ('Costa Rica', costa_rica),
             ('Cote dIvoire', cote_divoire),
             ('Croatia', croatia),
             ('Cuba', cuba),
             ('Cyprus', cyprus),
             ('Czech Republic', czech_republic),
             ('Democratic Republic of the Congo', democratic_republic_of_the_congo),
             ('Denmark', denmark),
             ('Djibouti', djibouti),
             ('Dominica', dominica),
             ('Dominican Republic', dominican_republic),
             ('Ecuador', ecuador),
             ('Egypt', egypt),
             ('El Salvador', el_salvador),
             ('Equatorial Guinea', equatorial_guinea),
             ('Eritrea', eritrea),
             ('Estonia', estonia),
             ('Ethiopia', ethiopia),
             ('Fiji', fiji),
             ('Finland', finland),
             ('France', france),
             ('Gabon', gabon),
             ('Gambia', gambia),
             ('Georgia', georgia),
             ('Germany', germany),
             ('Ghana', ghana),
             ('Greece', greece),
             ('Grenada', grenada),
             ('Guatemala', guatemala),
             ('Guinea', guinea),
             ('Guinea-Bissau', guinea_bissau),
             ('Guyana', guyana),
             ('Haiti', haiti),
             ('Honduras', honduras),
             ('Hungary', hungary),
             ('Iceland', iceland),
             ('India', india),
             ('Indonesia', indonesia),
             ('Iran', iran),
             ('Iraq', iraq),
             ('Ireland', ireland),
             ('Israel', israel),
             ('Italy', italy),
             ('Jamaica', jamaica),
             ('Japan', japan),
             ('Jordan', jordan),
             ('Kazakhstan', kazakhstan),
             ('Kenya', kenya),
             ('Kiribati', kiribati),
             ('Kuwait', kuwait),
             ('Kyrgyzstan', kyrgyzstan),
             ('Laos', laos),
             ('Latvia', latvia),
             ('Lebanon', lebanon),
             ('Lesotho', lesotho),
             ('Liberia', liberia),
             ('Libya', libya),
             ('Liechtenstein', liechtenstein),
             ('Lithuania', lithuania),
             ('Luxembourg', luxembourg),
             ('Macedonia', macedonia),
             ('Madagascar', madagascar),
             ('Malawi', malawi),
             ('Malaysia', malaysia),
             ('Maldives', maldives),
             ('Mali', mali),
             ('Malta', malta),
             ('Mauritania', mauritania),
             ('Mauritius', mauritius),
             ('Mexico', mexico),
             ('Micronesia', micronesia),
             ('Moldova', moldova),
             ('Monaco', monaco),
             ('Mongolia', mongolia),
             ('Montenegro', montenegro),
             ('Morocco', morocco),
             ('Mozambique', mozambique),
             ('Myanmar', myanmar),
             ('Namibia', namibia),
             ('Nauru', nauru),
             ('Nepal', nepal),
             ('Netherlands', netherlands),
             ('New Zealand', new_zealand),
             ('Nicaragua', nicaragua),
             ('Niger', niger),
             ('Nigeria', nigeria),
             ('North Korea', north_korea),
             ('Norway', norway),
             ('Oman', oman),
             ('Pakistan', pakistan),
             ('Palau', palau),
             ('Palestine', palestine),
             ('Panama', panama),
             ('Papua New Guinea', papua_new_guinea),
             ('Paraguay', paraguay),
             ('Peru', peru),
             ('Philippines', philippines),
             ('Poland', poland),
             ('Portugal', portugal),
             ('Qatar', qatar)
         ]);

interactive(children=(Dropdown(description='generator', options=(('Afghanistan', <function afghanistan at 0x00…

----------------------------------------------------------------------------------------------------------------------

## Estudo de caso:

Uso de um modelo de regressão para prever os países com tendências a aumentarem o número de mortes causadas pela poluição do ar doméstica e externa por partículas e ozônio.                                                     
A poluição do ar é um dos principais fatores de risco de morte no mundo.

Hannah Ritchie and Max Roser (2017) - "Air Pollution". Published online at OurWorldInData.org. Retrieved from: 'https://ourworldindata.org/air-pollution' [Online Resource]

In [22]:
# Modelo de rede nerual a ser utilizado: MLPRegressor